.buscar{
    position:absolute;
    padding:5px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    color: #191970;
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn{
    position:absolute;
    top: 0;
    right: 0;
    background:#191970;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color:white;
    font-size:20px;
    border-radius:50%;
    cursor:pointer;
}
.buscar:hover input{
    width: 240px;
}
.buscar input:focus{
    width: 240px;
}