header
{
    background: linear-gradient(to right, #d8af97, #ff6961, #8466f4, #77dd77);
    padding: 1%;
}

menu, #menu-check
{    
    display: none;
    place-content: space-between;
    
}

header div.contenedor 
{
    display: flex;
    place-content: space-between;   
    left: 0.5em;
    top: 0.5em; 
}

#menu-check:not(:checked) ~ nav{
    display: none;
}

#menu-check:checked ~ nav
{
    display: block;
}

#menu
{    
    display: block;
    color: #ff6961;
    background-color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid #ff6961;
    border-radius: 0.3em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 9999;
}

#menu:hover
{
    color: white;
    background-color: #ff6961;
}

#menu-cerrar
{
    display: none;
}

#menu-check:checked ~ label #menu-abrir
{
    display: none;
}

#menu-check:checked ~ label #menu-cerrar
{
    display: block;
}

header div.contenedor nav
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: #8466f4;
    padding-top: 0.5em;
    padding-right: 1.5em;
    opacity: 0.8;
    color: white;
    font-size: 1.5em;
}

header div.contenedor nav a
{
    color: white;
    background-color: none;
}

header div.contenedor nav a
{
    display: block;
    text-align: right;
}

main
{
    text-align: center;
}

h1 
{   
   text-align: center;
}

nav
{
    text-align: center;    
}

.anav
{
    margin-inline: 5px;
    text-decoration: none;
}

#portada
{
    text-align: center;    
}

#planportada
{
    margin-top: 20px;
    margin-inline: 10px;
    width: 600px;    
    border-style:groove;
    border: 1px solid black; 
    place-content: space-between;
    align-items: center;
    justify-content: center;            
}

#contenedor
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card
{
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    border: 1px solid black;
}