@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

#title {
    color:rgb(255, 191, 73);
    margin-bottom: 2%;
    margin-top: 2%;
}

.sucursales{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.local{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    background-color:rgba(73, 91, 255, 0.103);
    border: 1px solid #ccc;
    padding: 2%;
    border-radius: 2%;
}
.local p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

@media (max-width:720px){
    .sucursales{
        width: 100%;

    }
    .local{
        width: 100%;
        display: flex;
    }
    iframe{
        max-width: 100%;
    }
    
}